code {
  background-color: var(--surface-d);
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--text-color-secondary);

  a {
    text-decoration: none;
    color: var(--text-color);

    &:hover {
      text-decoration: underline;

      &::after {
        font-size: 80%;
        content: ' #';
        text-decoration: none !important;
        color: var(--text-color-secondary);
      }
    }
  }
}

ul {
  margin: 0.5rem 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0;
}

p {
  margin-bottom: 0.5rem;
}

table {
  border-collapse: collapse;
  margin: 0.5rem 0;
}

tr {
  &:nth-child(odd) {
    td {
      background-color: var(--surface-d);
    }
  }
}

td,
th {
  padding: 0.125rem 0.5rem;
  border: 1px solid var(--text-color-secondary);
}
